<!DOCTYPE html>
<html lang="en" oncontextmenu="console.log(weeee[Math.floor(Math.random() * weeee.length)]); return false;"> <!-- ignore this error if you see one, it's not important -->
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <title>Pokemon Smash or Pass</title>
        <!-- Primary Meta Tags -->
        <meta name="title" content="Pokemon Smash or Pass">
        <meta name="description" content="Choose whether or not you want to smash or pass a Pokemon">
        <meta name="keywords" content="pokemon smash or pass, pokemon, smash, pass, markiplier, game, fun, entertaining, simple game">
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="English">
        <meta name="author" content="Spinfal">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://pokemon-smash-or-pass.clit.repl.co/">
        <meta property="og:title" content="Pokemon Smash or Pass">
        <meta property="og:description" content="Choose whether or not you want to smash or pass a Pokemon">
        <meta property="og:image" content="https://pokemon-smash-or-pass.clit.repl.co/images/thumbnail.png">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://pokemon-smash-or-pass.clit.repl.co/">
        <meta property="twitter:title" content="Pokemon Smash or Pass">
        <meta property="twitter:description" content="Choose whether or not you want to smash or pass a Pokemon">
        <meta property="twitter:image" content="https://pokemon-smash-or-pass.clit.repl.co/images/thumbnail.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
        <script src="https://cdn.tailwindcss.com"></script>
        <style type="text/tailwindcss">
            @layer utilities {
                .noto-sans {
                    font-family: 'Noto Sans', sans-serif;
                }

                .scrollbar::-webkit-scrollbar {
                    display: none;
                    width: 0;
                }

                ::-moz-selection { /* Code for Firefox */
                    color: white;
                    background: #265A62;
                }
                
                ::selection {
                    color: white;
                    background: #265A62;
                }

                .hidden {
                    display: none;
                }
            }
        </style>
    </head>
    <body class="bg-no-repeat bg-fixed bg-[url('images/field.png')] bg-cover">
        <main class="hidden">
            <div class="container mx-auto">
                <div class="flex flex-wrap justify-center">
                    <div class="w-full p-4">
                        <div class="flex flex-col items-center">
                            <dialog id="endDialog" class="z-20 rounded-2xl translate-y-28 bg-lime-600 drop-shadow-2xl max-w-xs">
                                <div class="container mx-auto">
                                    <div class="flex flex-wrap justify-center">
                                        <div class="w-full p-4">
                                            <div class="flex flex-col items-center gap-y-3">
                                                <div class="flex-1 mb-3">
                                                    <h1 class="text-white drop-shadow-xl text-3xl text-center">You've reached the end!</h1>
                                                </div>
                                                <div class="flex-1 mb-3">
                                                    <p class="text-white drop-shadow-xl text-center">You have reached the end of the Pokemon list! There is a total of <span id="pokemonLength"></span> Pokemon on this site, and you went through all of them!</p>
                                                </div>
                                                <div id="tweetResults" class="flex-1">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </dialog>
                            <div class="flex-1">
                                <img src="images/Logo.png" alt="Smash or Pass logo" draggable="false">
                            </div>
                            <div class="z-10 flex-1 mt-10">
                                <figure>
                                    <img class="max-w-xs border-transparent rounded-3xl" id="pokemon" src="images/pokeball.gif" alt="Pokemon Image" draggable="false">
                                    <figcaption class="absolute text-sm -mt-10 text-white px-4 select-none">
                                        <div>
                                            <h1 class="text-slate-300/75">Name</h1>
                                        </div>
                                        <div>
                                            <h1 class="text-slate-100" id="pokemonName"></h1>
                                        </div>
                                    </figcatpion>
                                </figure>
                            </div>
                            <div class="flex-1 mt-4">
                                <div class="grid auto-rows-auto	grid-cols-2 gap-x-7">
                                    <button id="smash" class="noto-sans border-4 border-solid border-lime-700 text-white rounded-xl bg-lime-600 hover:bg-lime-700 py-4 px-7">Smash</button>
                                    <button id="pass" class="noto-sans border-4 border-solid border-red-700 text-white rounded-xl bg-red-600 hover:bg-red-700 py-4 px-7">Pass</button>
                                </div>
                            </div>
                            <div class="flex-1 mt-5">
                                <h1 class="text-2xl drop-shadow-md mb-1 pb-1 sticky top-0 backdrop-blur-sm text-slate-300/80" id="smashPercentage"></h1>
                            </div>
                            <div class="flex-1 mt-6">
                                <div class="grid auto-rows-auto	grid-cols-2 gap-x-7 text-center w-64">
                                    <div class="scrollbar border-solid border-2 rounded-xl pb-2 border-lime-500 bg-lime-800/25 hover:bg-lime-800/30 overflow-auto h-64 text-white"><h4 class="text-2xl drop-shadow-md mb-1 pt-0 pb-0 sticky top-0 backdrop-blur-sm z-10">Smash</h4><h3 class="text-1xl drop-shadow-md mb-1 pb-1 sticky top-0 text-slate-300/75" id="smashNum"></h3><div id="smashPokemon"></div></div>
                                    <div class="scrollbar border-solid border-2 rounded-xl pb-2 border-red-500 bg-red-800/25 hover:bg-red-800/30 overflow-auto h-64 text-white"><h4 class="text-2xl drop-shadow-md mb-1 pt-0 pb-0 sticky top-0 backdrop-blur-sm z-10">Pass</h4><h3 class="text-1xl drop-shadow-md mb-1 pb-1 sticky top-0 text-slate-300/75" id="passNum"></h3><div id="passPokemon"></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    <script src="js/functions.js"></script>
    <script src="js/script.js"></script>
    </body>
</html>
